export PROD_SNIP_DB_DSN=postgres://production_snippets:486464@localhost:5432/production_snippets
export PSQL_USERNAME=production_snippets
export PSQL_PASSWORD=486464
export PSQL_HOST=localhost
export PSQL_PORT=5432
export PSQL_DATABASE=production_snippets